{% extends "base.html" %}
{% block content %}

<h2 class="text-3xl font-bold text-gray-800 mb-6">Edit Student</h2>

<form action="/update-student/{{ student.StudentID }}" method="POST"
      class="bg-white shadow-xl p-6 rounded-xl max-w-xl">

    <div class="grid grid-cols-2 gap-4">

        <input name="Gender" value="{{ student.Gender }}"
               class="border p-2 rounded-lg" required>

        <input name="Race" value="{{ student.Race }}"
               class="border p-2 rounded-lg" required>

        <input name="ParentalEducation" value="{{ student.ParentalEducation }}"
               class="border p-2 rounded-lg col-span-2" required>

        <input type="number" name="MathScore" value="{{ student.MathScore }}"
               class="border p-2 rounded-lg" required>

        <input type="number" name="ReadingScore" value="{{ student.ReadingScore }}"
               class="border p-2 rounded-lg" required>

        <input type="number" name="WritingScore" value="{{ student.WritingScore }}"
               class="border p-2 rounded-lg" required>

    </div>

    <button class="mt-5 bg-green-600 text-white px-6 py-2 rounded-lg hover:bg-green-700">
        Update Student
    </button>
</form>

{% endblock %}
